#NOAA_Alert {
    font-size: medium;
    display: block;
    width: 800px;
    z-index: 3;
    margin: 0 auto;
}

#NOAA_Alert .inactive{
    display: none;
}

#NOAA_Alert .active{
    display: block;
}

#NOAA_Alert .Severe {
    color: red;
}

#NOAA_Alert .Moderate {
    color: yellow;
}

#NOAA_Alert .event
{
    font-weight: bold;
    display: inline;
}

#NOAA_Alert .headline
{
    color: #ccc;
    display: inline;
}

#NOAA_Alert .description
{
    font-size: small;
    color: #999;
	text-overflow:ellipsis;
	overflow:hidden;
	display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		white-space: normal;
}